.content {
    max-width: 400px;
    margin: auto;
    padding-top: 0px;
}

.title {
    padding-top: 100px;
    text-align: center;
}

/* Register Screen */
.form {
    margin: auto;
    max-width: 400px;
    padding-top: 0px;
}
